/*  Ubuntu    */
@font-face {
    font-family: Ubuntu;
    src: url("Ubuntu-R.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("Ubuntu-RI.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: url("Ubuntu-B.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("Ubuntu-BI.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}
