#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child {
  text-align: left;
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span {
  float: left;
  display: inline-block;
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span:first-child {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 50px auto;
  width: 60px;
  height: 18px;
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-none {
  background-image: url(../../assets/img/effects/none.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-curveUp {
  background-image: url(../../assets/img/effects/curve_up.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-curveDown {
  background-image: url(../../assets/img/effects/curve_down.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-archUp {
  background-image: url(../../assets/img/effects/arch_up.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-archDown {
  background-image: url(../../assets/img/effects/arch_down.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-simpleWave {
  background-image: url(../../assets/img/effects/simple_wave.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-widen {
  background-image: url(../../assets/img/effects/widen.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-wedge {
  background-image: url(../../assets/img/effects/wedge.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-pinch {
  background-image: url(../../assets/img/effects/pinch.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-bulge {
  background-image: url(../../assets/img/effects/bulge.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-slantLeft {
  background-image: url(../../assets/img/effects/slant_left.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-slantRight {
  background-image: url(../../assets/img/effects/slant_right.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-slantUp {
  background-image: url(../../assets/img/effects/slant_up.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-slantDown {
  background-image: url(../../assets/img/effects/slant_down.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-arcUp {
  background-image: url(../../assets/img/effects/curve_up.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-arcDown {
  background-image: url(../../assets/img/effects/curve_down.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-inflate {
  background-image: url(../../assets/img/effects/bulge.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-wave {
  background-image: url(../../assets/img/effects/simple_wave.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector button:first-child span.la-text-effect-perspective {
  background-image: url(../../assets/img/effects/perspective.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a {
  padding: 6px 15px;
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-none {
  background-image: url(../../assets/img/effects/none.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-curveUp {
  background-image: url(../../assets/img/effects/curve_up.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-curveDown {
  background-image: url(../../assets/img/effects/curve_down.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-archUp {
  background-image: url(../../assets/img/effects/arch_up.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-archDown {
  background-image: url(../../assets/img/effects/arch_down.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-simpleWave {
  background-image: url(../../assets/img/effects/simple_wave.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-widen {
  background-image: url(../../assets/img/effects/widen.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-wedge {
  background-image: url(../../assets/img/effects/wedge.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-pinch {
  background-image: url(../../assets/img/effects/pinch.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-bulge {
  background-image: url(../../assets/img/effects/bulge.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-slantLeft {
  background-image: url(../../assets/img/effects/slant_left.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-slantRight {
  background-image: url(../../assets/img/effects/slant_right.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-slantUp {
  background-image: url(../../assets/img/effects/slant_up.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-slantDown {
  background-image: url(../../assets/img/effects/slant_down.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-arcUp {
  background-image: url(../../assets/img/effects/curve_up.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-arcDown {
  background-image: url(../../assets/img/effects/curve_down.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-inflate {
  background-image: url(../../assets/img/effects/bulge.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-wave {
  background-image: url(../../assets/img/effects/simple_wave.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a span:first-child.la-text-effect-perspective {
  background-image: url(../../assets/img/effects/perspective.svg);
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li a:hover svg {
  fill: #ffffff;
}
#liveart-isolate-container .liveart-tabs-content > #add-text-form #text-effects-selector > ul.dropdown-menu > li svg {
  width: 60px;
  margin-right: 10px;
  float: left;
}
