@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-italic-webfont.woff') format('woff'));
    font-weight: normal;
    font-style: italic;
}